@import '../utils/variables.scss';
@import '../utils//mixins.scss';

.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:15vh;
    background-color:$granate;
    color:white;
}
